input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    background-color: gray;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 7vh;
    color: #ffffff;
    position: sticky;
    top: 0;
    left: 0;
}
.logo{
    color: #ffffff;
}
nav >ul{
    display: flex;
    list-style: none;
    gap: 16px;
    color: #ffffff;
}



.nav-btn{
    color: #ffffff;
    list-style: none;
}

/*home*/


/*shop*/
.shop{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 16px;
    gap: 30px;
    grid-auto-flow: column;

}

/*card*/
.card{
    border: 1px solid black;
    height: 400px;
    padding: 16px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    border-radius: 20px;
}

.product-img{
    width: 70%;
    height: 80%;
}

/*product page*/

.product-page--image{
    width: 40vw;
    height:70vh;
}


/*cart */

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cart-item{
    display: flex;
    flex-direction: column;
}

.quantity{
    width: 50px;
}

.quantity-btn{
    width: 50px;
}